body {
    background-color: #F5F0E8;
}

h1, h2, h3, h4, h5, a, footer {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: #3B2F36;
}

p {
    font-family: "Merriweather", serif;
    font-size: 1.2rem;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

header {
    background-color:;
    color: #3B2F36;
    margin-top: 5em;
}

nav, footer {
    background-color: #3B2F36;
}

.navbar-brand, .nav-link {
    color: #C1A57B !important;
    font-size: 140%;
}

.footer-text {
    color: #C1A57B;
    font-size: 140%;
}

.btn-color {
    background-color: #A26769;
    color:#eccc9b;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
}

.btn-color:hover {
    background-color: #7D8F7C;
    color: #eccc9b;
}

.nav-link:hover {
    color: #7D8F7C !important;
}

label {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
}

#about {
    background-color: #f8f6f3;
}

.bg-image {
    background-image: url(media/homepage.jpg);
    opacity: 100%;
    background-size: cover;
    background-position: center;

    padding: 2rem 0;
}


