html,body {
	font-family:Verdana,sans-serif;
	font-size:15px;
	line-height:1.5;
}

html {
	overflow-x:hidden;
}

h1 {
	font-size:36px;
	font-family:"Segoe UI",Arial,sans-serif;
	font-weight:400;
	margin:10px 0;
}

img {
	margin-bottom:-5px;
}

a {
	color:inherit;
}


.container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before,.cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after {
	content:"";
	display:table;
	clear:both;
}

.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter,.row-padding>.col {
	padding:0 8px;
}

.content {
	max-width:980px;
	margin:auto;
}

.container,.panel {
	padding:0.01em 16px;
}

.panel { margin-top:16px;
	margin-bottom:16px;
}

.center .bar {
	display:inline-block;
	width:auto;
}

.bar-block.center .bar-item {
	text-align:center;
}

.center {
	text-align:center!important;
}

.opacity,.hover-opacity:hover {
	opacity:100;
}

.col,.half,.third,.twothird,.threequarter,.quarter {
	float:left;
	width:45%;
}

.half-2 {
	float: right;
	width: 45%;
}
.xlarge {
	font-size:24px!important;
}

.padding-32 {
	padding-top:32px!important;
	padding-bottom:32px!important;
}

.border {
	border:0px solid #ccc!important;
}

.bar {
	width:100%;
	overflow:hidden;
}

.bar .bar-item {
	padding:8px 16px;
	float:left;
	width:auto;
	border:none;
	outline:none;
	display:block;
}

.bar .dropdown-hover,.bar .dropdown-click {
	position:static;
	float:left;
}

.bar .button {
	white-space:normal;
}

.btn,.button {
	border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.disabled,.btn:disabled,.button:disabled {
	cursor:not-allowed;
	opacity:0.3;
}

.dropdown-hover:hover > .button:first-child,.dropdown-click:hover > .button:first-child {
	background-color:#ccc;
	color:#000;
}

.bar-block .dropdown-hover .button,.bar-block .dropdown-click .button {
	width:100%;
	text-align:left;
	padding:8px 16px;
}

.bar-block .bar-item {
	width:100%;
	display:block;
	padding:8px 16px;
	text-align:left;
	border:none;
	outline:none;
	white-space:normal;
	float:none;
}

.bar-block.center .bar-item {
	text-align:center;
}

.button:hover {
	color:white;
	background-color:lightcoral;
}

.activepage{
    background-color: darkred;
    color: white;
}

.padding-64{padding-top:64px!important;padding-bottom:64px!important}

.light-grey,.hover-light-grey:hover,.light-gray,.hover-light-gray:hover{color:black;background-color:white}

.large{font-size:18px!important}

.social:hover {
    color:maroon;
    
}

.email {
    
    background-color:maroon;
    outline: none; /* Remove outline */
    background-color: maroon; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 4px; /* Rounded corners */
}

.email:hover {
    
    background-color: lightcoral;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 50px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: maroon; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 12px,20px; /* Some padding */
    border-radius: 4px; /* Rounded corners */
}

#myBtn:hover {
    background-color: lightcoral; /* Add a dark-grey background on hover */
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the useEustachian tube blockager to vertically resize the textarea (not horizontally) */
}

@media (max-width:600px) {
	
	.bar-item.mobile,.dropdown-hover.mobile,.dropdown-click.mobile {
		text-align:center;
	}

	.dropdown-hover.mobile,.dropdown-hover.mobile .btn,.dropdown-hover.mobile .button,.dropdown-click.mobile,.dropdown-click.mobile .btn,.dropdown-click.mobile .button {
		width:100%
	}

	.half, .half-2{
		float: none;
		display: inline-block;
		width: 100%;
	}

@media (min-width:601px) {
	
	.half, .half-2 {
		float: none;
		display: inline-block;
		width: 100%;
	}

}